$primary:#0277BD;
$orangeish:#bd4702;
$greenish: #02bda4;
$blueish:#021bbd;
$purpleish:#4702bd;
$pinkish:#bd0278;

$tsmpink: #ec008c;
$tsmdark: #5B5C61;
$tsmwhite: #F7F7F7;

$warningred: #f44336;
$goodgreen: #4CAF50;