@use "../util/fonts" as *;
@use "../util/color" as *;

.root {
    .new-content-page-holder {
        display: flex;
        flex-direction: column;
        align-items: center;

        > div:not(.warningHolder) {
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            margin-top: 25px;

            border: 1px solid $tsmdark;
            border-radius: 5px;
            padding: 10px;

            transition: all .2s ease;
            min-width: 340px;

            @media screen and (max-width: 1200px) {
                width: 50%;
            }

            @media screen and (max-width: 800px) {
                width: 70%;
            }

            @media screen and (max-width: 600px) {
                width: 80%;
            }

            @media screen and (max-width: 400px) {
                width: 90%;
                padding: 10px;
            }
        }

        h2 {
            @include set-font($roboto, 400);
        }

        .statusField {
            visibility: none;
            margin-bottom: 5px;
        }

        .statusFieldNoBorder {
            border: none !important;
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100%;

            @include set-font($montserrat);

            input, textarea {
                padding: 5px;
                margin-bottom: 5px;
                border: 1px solid $tsmdark;
                border-radius: 5px;

                @include set-font($roboto, 300);
            }

            textarea {
                resize: vertical;
            }

            .address-postal-number-holder {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                div {
                    display: flex;
                    flex-direction: column;
                }

                .address-number {
                    justify-content: flex-end;
                }
            }

            .submitBtn {
                margin-top: 3px;
                background-color: $tsmpink;
                border: 1px solid $tsmpink;
                border-radius: 5px;
                color: white;
                transition: all .2s ease;
            }

            .submitBtn:hover {
                background-color: darken($tsmpink, 10%);
                border: 1px solid darken($tsmpink, 10%);
                cursor: pointer;
                transition: all .2s ease;
            }

            .red-text {
                color: #FF0000;
            }
        }

        #step2 {
            & > button {
                margin-top: 6px;
                background-color: #FFF;
                border: 1px solid $tsmdark;
                border-radius: 5px;
                color: #000;
                padding: 4px 6px 4px 6px;
            }

            & > button:hover {
                border: 1px solid $tsmpink;
            }

            .addContentBtnHolder {
                .continue-btn {
                    margin-top: 9px !important;
                }
            }
        }

        #step3 {
            .uploadHolder {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                button {
                    background-color: $tsmpink;
                    border: 1px solid $tsmpink;
                    border-radius: 5px;
                    color: #FFF;
                    padding: 5px 3px 5px 3px;
                }

                button:hover {
                    background-color: darken($tsmpink, 10%);
                    border: 1px solid darken($tsmpink, 10%);
                }

                p {
                    margin: 0;
                    margin-left: 5px;
                }
            }
        }

        #step0, #step1, #step2, #step3, #step4 {
            .blockSelection {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .item {
                    border: 1px solid $tsmdark;
                    border-radius: 5px;

                    padding: 10px;
                    margin-right: 5px;
                    margin-bottom: 5px;

                    user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                }

                .item:hover {
                    border: 1px solid $tsmpink;
                    cursor: pointer;

                    transition: .5s ease;
                }

                .item-selected {
                    border: 1px solid $tsmpink;
                    background-color: $tsmpink;
                    color: white;
                }
            }

            .addContentBtnHolder {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 100%;
                
                .continue-btn {
                    margin-top: 16px;

                    border-radius: 5px;
                    color: white;
                    transition: all .2s ease;
                    width: 40%;
                    padding: 3px;
                }

                .continue-btn:hover {
                    cursor: pointer;
                    transition: all .2s ease;
                }

                .next {
                    background-color: $tsmpink;
                    border: 1px solid $tsmpink;
                }

                .next:hover {
                    background-color: darken($tsmpink, 10%);
                    border: 1px solid darken($tsmpink, 10%);
                }

                .previous {
                    background-color: #FFF;
                    border: 1px solid $tsmdark;
                    color: #000;
                }
                
                .previous:hover {
                    border: 1px solid $tsmpink;
                }
            }
        }
    }
}