.flex-center {
    display: flex;
    justify-content: center;
}

.root {

    .login-container {
        display: flex;
        flex-direction: column;

        justify-items: center;
        justify-content: center;

        width: 30em;
        height: 100%;

        margin-top: 3em;
        padding: 2em;
        padding-bottom: 3em;

        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);

        .login-form {
            display: flex;
            width: 100%;
            height: auto;
            align-self: center;
            flex-direction: column;

            a {
                justify-self: center;
                align-self: center;
                margin-bottom: 1ch;
            }

            .subtitle {
                justify-self: center;
                align-self: center;
                font-size: 1.5em;
                margin-bottom: 2ch;

                @include set-font("Roboto", 300);
            }

            .alertbox {
                justify-self: center;
                align-self: center;
                visibility: hidden;

                margin-bottom: 2ch;

                visibility: hidden;
                border-radius: 5px;

                padding: .5em;
                color: white;
            }

            .red {
                background-color: $warningred;
            }

            .green {
                background-color: $goodgreen;
            }

            input {
                border: none;
                border-bottom: 1px solid black;
                margin-bottom: 2em;
            }

            input:focus,input:hover {
                outline: none;
                border-bottom: 1px solid $tsmpink;
                transition: all .2s;
            }

            .submit {
                border: 1px solid #ffffff;
                background-color: $tsmpink;
                color: white;
                border-radius: 5px;
                width: 15%;
                padding: 1ch;
                justify-self: flex-end;
                align-self: flex-end;
            }

            .submit:hover {
                background-color: darken($tsmpink, 10%);
                transition: all .2s;
            }
        }
    }
}