$tsmpink: #ec008c;
$warningred: #f44336;
$goodgreen: #4CAF50;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Roboto:wght@100;300;400&display=swap');

@mixin set-font($font-family, $font-weight: 400) {
    font-family: $font-family, sans-serif;
    font-weight: $font-weight;
}

@import "animation.scss";
@import "login.scss";
@import "nav.scss";
@import "dashboard.scss";

html, body {
    height: 99%;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    @include set-font("Nanum Gothic");
}

.root {
    @include animation-fade-in(1.5s);
    height: 100%;
    width: 100%;
}